/* Reset */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.container-cetak {
    display: flex;
    height: 100vh;
}

.main-content-cetak{
    width: 100%;
    padding: 20px;
    margin-left: 25px;
    color: #000;
}

.header-cetak {
    display: flex;
    justify-content: space-between; /* Atur jarak antara elemen kiri dan kanan */
    background-color: #f5f5f5; /* Warna latar belakang */
    text-align: center;
    justify-content: center;
}

.content-grid-cetak {
    display: grid;
    grid-template-columns: 1fr auto;
}

.content-grid-cetak > div {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.transkrip-nilai {
    display: flex;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
}

.transkrip-nilai > table {
    align-items: center;
    font-size: 25px;
}

.user-profile-transkrip-nilai-cetak {
    flex: 1;
}

.user-profile-transkrip-nilai-cetak > table {
    padding-top: 10px;
}

.table-transkrip-nilai-cetak > table {
    text-align: center;
    width: 100%;
    background-color: white;
    border-collapse: collapse;
    border: #000 1px solid;
}

.table-transkrip-nilai-cetak > table th {
    background-color: gray;
    border: #000 1px solid;
}

.ttd {
    float: right;
    width: auto;
    text-align: center;
}

.ttd td:nth-child(2), 
.ttd td:nth-child(3) {
    padding-left: 50px;
}

.logo-utm {
    width: 100px;
}

.univ {
    font-size: 30px;
    font-weight: bold;
}

.fakultas {
    font-size: 27px;
}

.footer > table {
    width: 100%;
    text-align: center;
}
